<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Pawned</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <h1>Chess</h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="../challengepage">All Games</a>
      {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </nav>
    <main>
      <div class="bod">
        {{{body}}}
      </div>
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <p class="grey-text text-lighten-4">To learn more about our company and contact us, please see the links to the side.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Contact Us</h5>
              <ul id="footer-ul">
                <li>
                  <a class="grey-text text-lighten-3" href="#!">Email Us</a>
                </li>
                <li>
                  <a class="grey-text text-lighten-3" href="#!">Call Us</a>
                </li>
                <li>
                  <a class="grey-text text-lighten-3" href="https://twitter.com/Climate_DAO" target="blank"
                  ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a class="grey-text text-lighten-3" href="#!" target="blank"
                  ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a class="grey-text text-lighten-3" href="#!" target="blank"
                  ><i class="fab fa-facebook"></i
                ></a>
                </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2022 GET PAWNED
          <a class="grey-text text-lighten-4 right" href="#!">Privacy Policy</a>
        </div>
      </div>
    </footer>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
  <script src="../../public/js/gametable.js"></script>
</html>