<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Pawned</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
<style>body, html {
  height: 100%;
  margin: 0;
}
</style>
  <body>
    <nav style="height: 12%;display:flex;align-items:center;background-color:gray;position:sticky;top:0;">
      <h1 style="display: grid;margin:2px;padding:2px;justify-content:flex-start;position:relative;top:10px;color:black;font-size:60px;">Chess</h1>
      <ul style="list-style:none;display:inline-block;margin-left:56%;margin-top:50px;">
      <a href="/" style="color: black;font-size:20px;margin:10px;">Home</a>
      <a href="../challengepage" style="color: black;font-size:20px;margin:10px;">Forums</a>
      <a href="../allgames" style="color: black;font-size:20px;margin:10px;">view-games</a>
      {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
        <a href="/login" style="color: black;font-size:20px;margin:10px;">Login/logout</a>
      {{/if}}
      </ul>
    </nav>
    <main style="background-image: url('https://cdn.wallpapersafari.com/73/39/C2wfxR.jpg');height:100%;background-size:cover;backgorund:fade;">
      <div class="bod">
        {{{body}}}
      </div>
    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
  <script src="../../public/js/gametable.js"></script>
</html>