 <div class="row">
<div class="card" style="width: 18rem;">
  <img src="https://bigtex.com/wp-content/uploads/2018/05/placeholder-640x640.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Robert Fischer vs Ratmir Kholmov</h5>
    <p class="card-text">Game played on Jan 1st, 1967</p>
    <a href="./challengepage/game-1" class="btn btn-primary">View Game</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://bigtex.com/wp-content/uploads/2018/05/placeholder-640x640.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Robert Fischer vs Boris Spassky</h5>
    <p class="card-text">Game played on March 30th, 1960 </p>
    <a href="./challengepage/game-2" class="btn btn-primary">View Game</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://bigtex.com/wp-content/uploads/2018/05/placeholder-640x640.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Bernard Bisguier vs Robert Fischer</h5>
    <p class="card-text">Game played on December 19th 1963</p>
    <a href="./challengepage/game-3" class="btn btn-primary">View Game</a>
  </div>
</div>
</div>  

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
