<div class='container'>
  <div class='row'>
    <h1 class='text-center'>
      Robert Fischer(Black) vs Boris Spassky(White)</h1>
    <p class='text-center'>Mar 30th, 1960</p>
  </div>
  <div class='row'>
      <iframe width='300' height='500' src='https://www.youtube.com/embed/Rb5bZVRypa0'>
      </iframe>
  <div class="row"> 
  <div class="accordion" id="accordionExample" style='width: 1300px;'>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <strong>Click for match notations</strong>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p class='card-text'>1.e4 e5 2.f4 exf4 3.Nf3 g5 4.h4 g4 5.Ne5 Nf6 6.d4 d6 7.Nd3 Nxe4 8.Bxf4 Bg7 9.Nc3 Nxc3 10.bxc3 c5 11.Be2 cxd4 12.O-O Nc6 13.Bxg4 O-O 14.Bxc8 Rxc8 15.Qg4 f5 16.Qg3 dxc3 17.Rae1 Kh8 18.Kh1 Rg8 19.Bxd6 Bf8 20.Be5+ Nxe5 21.Qxe5+ Rg7 22.Rxf5 Qxh4+ 23.Kg1 Qg4 24.Rf2 Be7 25.Re4 Qg5 26.Qd4 Rf8 27.Re5 Rd8 28.Qe4 Qh4 29.Rf4 1-0</p>
      </div>
    </div>
  </div>

  </div> 
  </div> 


<div class='card mx-auto' style='width: 1300px;'>
  <h5 class='card-header'>ChessProd1</h5>
  <div class='card-body'>
    <p class='card-text'>WOW!! that was so sick lmao</p>
  </div>
</div>

<div class='card mx-auto' style='width: 1300px;'>
  <h5 class='card-header'>Mr.Hollywood</h5>
  <div class='card-body'>
    <p class='card-text'>Don't get why he would do that move at 0:48</p>
  </div>
</div>

<div class='mb-3 mx-auto'>
  <textarea id='newCommentTextArea' class='form-control' style='width: 1300px;' rows='3' placeholder='Add a comment' name='comment-add'></textarea>
  <button type='submit' class='btn btn-primary commentBtn'>Post Comment</button>
</div>

<script src='/public/js/newComment.js'></script>

