<div class="container">
  <div class="row">
    <h1 class="text-center">
      Donald Byrne(White) vs Bobby Fischer (Black)</h1>
    <p class="text-center">Oct 17th, 1956</p>
  </div>
  <div class="row">
    <div class="col-6">
      <iframe
        width="600"
        height="400"
        src="https://www.youtube.com/embed/"
      >
      </iframe>
    </div>
    <div class="col card text-bg-secondary mb-3">
      <div class="card-header">Listed Moves</div>
      <div class="card-body">
        <p class="card-text">1. Nf3 Nf6 2. c4 g6 3. Nc3 Bg7 4. d4 0-0 5. Bf4 d56. Qb3 dxc4 7. Qxc4 c6 8. e4 Nbd7 9. Rd1 Nb6 10. Qc5 Bg4 11. Bg5 Na4
12. Qa3 Nxc3 13. bxc3 Nxe4 14. Bxe7 Qb6 15. Bc4 Nxc3 16. Bc5 Rfe8+ 17. Kf1 Be6 18. Bxb6 Bxc4+ 19. Kg1 Ne2+ 20. Kf1 Nxd4+ 21. Kg1 Ne2+ 22. Kf1 Nc3+ 23. Kg1 axb6 24. Qb4 Ra4 25. Qxb6 Nxd1 26. h3 Rxa2 27. Kh2 Nxf2 28. Re1 Rxe1 29. Qd8+ Bf8 30. Nxe1 Bd5 31. Nf3 Ne4 32. Qb8 b5 33. h4 h5 34. Ne5 Kg7 35. Kg1 Bc5+ 36. Kf1 Ng3+ 37. Ke1 Bb4+ 38. Kd1 Bb3+ 39. Kc1 Ne2+ 40. Kb1 Nc3+ 41. Kc1 Rc2# 0–1
</p>
      </div>
    </div>
  </div>
</div>

<div class="card mx-auto" style="max-width: 1000px">
  <h5 class="card-header">chessMan88</h5>
  <div class="card-body">
    <p class="card-text">I can't believe this was the game of the century!! OMG</p>
  </div>
</div>

<div class="card mx-auto" style="max-width: 1000px">
  <h5 class="card-header">chef</h5>
  <div class="card-body">
    <p class="card-text">young 26 year old Donald Byrne vs a 13 year old Bobby Fischer woww</p>
  </div>
</div>

<div class="mb-3 mx-auto" style="max-width: 1000px">
  <textarea
    class="form-control"
    rows="3"
    placeholder="Add a comment"
  ></textarea>
  <button type="button" class="btn btn-outline-primary">Post Comment</button>

</div>