
<div class="row">
    <div class="col-md-6 mx-auto">
     <h1>Home page</h1>   
    </div>

    <p style="text-align: center;".>Salutation Chess Lovers</p>

    <main class="container-fluid">
      <div id="card-container"></div>
    </main>
</div>

<script src="../public\js\news.js"></script>

