
<div class="row">
    <div class="col-md-6 mx-auto">
     <h1>Home page</h1>   
    </div>

    <p style="text-align: center;".>Salutation Chess Lovers</p>
</div>

{{!-- [x] - welcome page
[x] - Login
[ ] - User page - lists all the current games/basic user info("logged in")
[ ] - Challenge page - lists all the users(Name,
matchHistory, "Challenge"/"Accept Challenge" button)
[x] - (individual)Game - shows the board, shows the game status
[x] - logout --}}