<h1 style="flex:1;">Watch - Learn - Comment</h1>
<h1 style="flex:1;">Easy to Use</h1>
<div style="flex:1">
  <img style="height: 550px;width:1000px;" src="https://images.chesscomfiles.com/uploads/v1/blog/340100.9cfd3f9f.5000x5000o.54b9db1555e7.gif">
</div>
<footer id="about-us" style="display:flex; flex-direction:column; text-align:center">
  <h3 style="flex:1">About Us</h3>
  <p style="flex:1">Hello</p>
</footer>