{{!-- <h1 style="margin-top:80px;margin-left:500px;">CHESS ARCHIVE</h1> --}}
{{!-- <h1 style="margin-left:620px;">LEARN FROM LEGENDARY CHESS GRANDMASTERS!</h1> --}}
{{!-- <h2 style=""></h2> --}}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Welcome Future Chess Grandmaster!</h3>
      <p>Please Sign-in To Access The World Of Chess!</p>
    </div>
  </div>
</div>
<span><img style="margin-top: 60px;margin-left:215px;height: 550px;width:1000px;" src="https://images.chesscomfiles.com/uploads/v1/blog/340100.9cfd3f9f.5000x5000o.54b9db1555e7.gif"></span>