/* 
Login Page
*/


.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width:33%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align:center;
    height:30vh;

    flex-direction:column;
    justify-content:space-evenly;
}
<<<<<<< HEAD
=======

.challengepage {
    justify-content: center;
}


>>>>>>> 96433291a8e6f7738cb181d0cd02cad86e51ad5f
